{% extends 'base.html.twig' %}

{% block main %}
    {# @var message \SymfonyBlogBundle\Entity\Message #}
    <p><strong>From: </strong>{{ message.sender.fullName }}</p>
    <p><strong>Email: </strong>{{ message.sender.email }}</p>
    <p><strong>Sent on: </strong>{{ message.dateAdded|date('Y F jS \\a\\t g:ia', 'Europe/Sofia') }}</p>
    <p><strong>Title: </strong>{{ message.about }}</p>
    <hr>
    <small class="author">{{ message.sender.shortName }} Wrote: </small><br /><br />
    <p style="font-style: oblique">" {{ message.content }} "</p>
    <hr>

    {% for msg in app.session.flashBag.get('message') %}
        <div id="msg" class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">x</button>
            {{ msg }}
        </div>
    {% endfor %}

    <button onclick="showHideFunc()" class="btn btn-info btn-xs"><i class="glyphicon glyphicon-envelope"></i> Answer</button>
    <a class="btn btn-info btn-xs" href="{{ path('user_messageBox') }}"><i class="glyphicon glyphicon-home"></i> back</a>
    <div id="showHideDiv" style="visibility: hidden">
        <h2>Message:</h2>
        <form method="post">
            About: <input type="text" name="message[about]"><br />
            Content: <textarea rows="4" name="message[content]"></textarea><br />
            {{  form_row(form._token) }}
            <input type="submit" value="Send" class="btn btn-info btn-xs"><br />
        </form>
    </div>

{% endblock %}

