{% extends 'base.html.twig' %}


{% block main %}
    {% for msg in app.session.flashBag.get('message') %}
        <div id="msg" class="alert alert-success" id="top">
            <button type="button" class="close" data-dismiss="alert">x</button>
            {{ msg }}
        </div>
    {% endfor %}
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article id="article">
                    <header>
                        <h2>{{ article.title }}</h2>
                    </header>
                    <img src="{{ asset('uploads/images/' ~ article.image) }}" width="400" height="250">

                    <p>
                        {{ article.content }}
                    </p>

                    <small class="author">
                        {{ article.author.fullName }}
                        <a href="{{ path('article_likes', {'id': article.id}) }}"><i
                                    class="glyphicon glyphicon-thumbs-up"></i></a>
                    </small>


                    <div>
                        {% if app.getUser() %}
                            <button class="btn btn-info btn-xs" id="btnComment">
                                <span class="glyphicon glyphicon-comment"></span> Comment</button>
                        {% endif %}
                        {% if app.getUser() and app.getUser().isAdmin() %}
                            <a class="btn btn-info btn-xs"
                               href="{{ path('article_delete', {'id': article.id}) }}"><i class="glyphicon glyphicon-remove-circle"></i> delete</a>
                            <a class="btn btn-info btn-xs" href="{{ path('article_edit', {'id': article.id}) }}"><i class="glyphicon glyphicon-edit"></i> edit</a>
                            <a class="btn btn-info btn-xs" href="#watchVideo"><i class="glyphicon glyphicon-facetime-video"></i> Video</a>
                        {% endif %}
                        <a class="btn btn-info btn-xs" href="{{ path('blog_index') }}"><i class="glyphicon glyphicon-home"></i> back</a>
                    </div>

                    <div id="form">
                    </div>
                    <br>
                    {# @var comment \SymfonyBlogBundle\Entity\Comment #}
                    {% for comment in comments %}
                        <div>
                            <a href="{{ path('user_message', {'id': comment.author.id, 'articleId': article.id}) }}">
                                <strong><i class="glyphicon glyphicon-envelope"></i> {{ comment.author.shortName }}: </strong></a> <span style="font-style: oblique">{{ comment.content }}</span>
                            <p><small class="author">{{ comment.dateAdded|date('F jS \\a\\t g:ia') }}</small></p>
                        </div>
                    {% endfor %}
                    <h3 id="watchVideo">Watch Video</h3>
                    {{ article.ytUrl | raw }}
                    <p>
                    <a class="btn btn-info btn-xs" href="#top"><i class="glyphicon glyphicon glyphicon-eye-open"></i> Back</a>
                    </p>
                    <footer>

                    </footer>
                </article>
            </div>
        </div>
    </div>

    <script>
        let form = $(`
    <form method="post" action="{{ path('add_comment', {'id': article.id}) }}">
        <div class="form-group">
                        <!--<label class="col-sm-4 control-label" for="article_content">Comment Content</label>-->
                 <div class="col-sm-4">
               <textarea class="form-control" rows="4" id="comment_content" placeholder="Write a comment..." name="comment[content]"></textarea>
             <input class="btn btn-info btn-xs" type="submit" value="Add" />
          </div>
        </div>
    </form>
        `);

        $('#btnComment').click(function (e) {
            e.preventDefault();
            $('#form').append(form);
            //Hide was forget, and was needed to click twice!
            $('#form').hide(form);
            $('#form').toggle();
        })
    </script>
{% endblock %}

