{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content">
        <div class="row">
            {% for article in articles %}
                <div class="col-md-12">
                    <article>
                        <header>
                            <h2>{{ article.title }}</h2>
                        </header>
                        <img src="{{ asset('uploads/images/' ~ article.image) }}" width="200" height="100">
                        <p>
                            {{ article.content }}
                        </p>

                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-info btn-xs" href="{{ path('article_delete', {'id': article.id}) }}">
                                    <i class="glyphicon glyphicon-remove-circle"></i> delete</a>
                                <a class="btn btn-info btn-xs" href="{{ path('article_edit', {'id': article.id}) }}">
                                    <i class="glyphicon glyphicon-edit"></i> edit</a>
                                {#<a class="btn btn-default btn-xs"#}
                                   {#href="{{ path('blog_index')}}">Back &raquo;</a>#}
                            </div>
                        </footer>
                    </article>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

